<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trueffelscout.trueffelscoutapp"
    android:versionCode="8"
    android:versionName="1.7"
     >

    
    <uses-sdk
    android:minSdkVersion="9"
    android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".TsApplication"
        android:icon="@drawable/trufa"
        android:theme="@style/Theme.Sherlock.Light" 
        android:label="@string/app_name"
        >
        <activity
            android:name=".TrueffelscoutActivity"
            android:configChanges="orientation|screenSize|locale"
            android:uiOptions="splitActionBarWhenNarrow"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait"
             android:uiOptions="splitActionBarWhenNarrow"
            >
        </activity>
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <receiver 
            android:name=".TrueffelWidgetProvider"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget" /> 
        </receiver>
        <service android:name="services.WidgetUpdateService"></service>
    </application>

</manifest>